.hero {
  width: 100%;
  height: 406px;
  background-color: #495e57;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 11.5rem;
  padding: 1rem;
}

.content .main {
  font-family: "Markazi text";
}

.content {
  padding-top: 40px;
  padding-left: 90px;
}
.content .first-text {
  color: #f4ce11;
  font-weight: medium;
  font-size: 64px;
}

.content .second-text {
  color: #ffffff;
  font-weight: regular;
  font-size: 40px;
}

.content .third-text {
  color: #ffffff;
  font-weight: 300;
  font-weight: 20px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.image {
  width: 375px;
  height: 423px;
  background: url("../../assets/Hero.jpg") no-repeat center center/cover;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 16px;
  /* z-index: -1; */
}

@media screen and (max-width: 940px) {
  .hero {
    margin-top: 400px;
    height: 34.5vh;
  }
  .content {
    padding-top: 40px;
    padding-left: 0px;
  }
  .content .first-text {
    font-size: 32px;
  }

  .content .second-text {
    font-size: 20px;
  }

  .content .third-text {
    font-weight: 300;
    font-weight: 10px;
    padding-bottom: 50px;
    padding-top: 10px;
  }
  .hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.3rem;
    padding: 1rem;
  }
  .image {
    width: 240px;
    height: 300px;
    background: url("../../assets/Hero.jpg") no-repeat center center/cover;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 16px;
    /* z-index: -1; */
  }

  .content {
    padding-top: 0px;
  }

  .content .btn {
    width: 150px;
    height: 40px;
    font-size: 0.8rem;
  }
}
